.DS_Store

# sqlc generated
internal/app/repository/**/mysql/
internal/app/repository/**/postgresql/

# other
secret

# Logs
logs.log

# Build result
amaz-corp-app

# Environment
.env
.env.dev
.env.**

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
